<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Load Balancer</title>
</head>
<body>
  <center>
    <h1>Express Load Manager</h1>
  </center>
  <center>
    <form action="javascript:login()">
      <input type="text" name="user" id="username" placeholder="Username"><br><br>
      <input type="password" name="password" id="password" placeholder="Password"><br><br>
      <input type="submit" value="LOGIN">
    </form>
  </center>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>
</html>